# Ignore Mac system files
.DS_Store
vendor/*
/docs/dev-environment-notes.md
/docs/*.png
/docs/*.svg

.playwright-cli/
.playwright-cli/console-2026-03-10T19-56-55-689Z.log
node_modules/
npm-debug.log*
.codex/
/design-system/
.claude/
.omx
output/